body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1;
  background-color: #c9cdc3;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 11px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: left;
  border-radius: 15px;
  margin-right: 22px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #caf380;
  color: #000000;
  border: 1px solid #000000;
  font-weight: 700;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #edaeab;
  color: white;
}

.future {
  background-color: #b1e9b1;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #709aa3;
  color: rgb(1, 255, 51);
    transition: all ease 0.3sec;
  -webkit-transition: all ease 0.3sec;
  -moz-transition: all ease 0.3sec;
  -ms-transition: all ease 0.3sec;
  -o-transition: all ease 0.3sec;
}

.saveBtn:hover{
  background-color: rgb(179, 102, 3);
  color: rgb(0, 97, 182);

}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
